.md-header {
  background-color: var(--header-color, #028063);
  color: #eae9da !important;
}

.md-footer {
    background-color: #f1f2e8 !important;
    color: #555 !important;
}

.md-main {
    background-color: #ffffff !important;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.md-grid {
  max-width: 99%;
}
