div.tabbed-set div.tabbed-labels label {
    font-size: 12px !important;
    padding: 1px 9px !important;
    margin-right: 0.9px;
    border-radius: 3px;
    cursor: pointer;
    color: #f6f2f2 !important;
    background-color: var(--header-color, #778a9d);
}

div.tabbed-set div.tabbed-labels label:hover {
    filter: brightness(1.25);
}

.tabbed-content {
    background-color: #f5faf8;
    padding: 3px;
    border: 1px solid #c8ddd8;
}
